body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 5px 0;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    padding: 20px;
}

.left, .right {
    width: 40%;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    height: 16px;
    visibility: hidden;
}

input.error {
    border: 2px solid red;
}

.btn {
    display: block;
    padding: 10px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #e65c00;
}


.logout {
    margin-top: 20px;
}

.logout a {
    color: red;
    font-size: 16px;
    text-decoration: none;
}

.logout a:hover {
    text-decoration: underline;
}

.highlight {
    color: orange;
    font-weight: bold;
}

.info-table, .tournament-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info-table th, .info-table td,
.tournament-table th, .tournament-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.info-table th, .tournament-table th {
    background: #0056b3;
    color: white;
}

.tournoiContainer {
    width: 60%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}